* {
  box-sizing: border-box;
}

body {
  background:linear-gradient(to left,#474e5d,#708090) ;
  font-family: Helvetica, sans-serif;
}
h1{
  color:white;
  text-align: center;
  text-decoration: underline;
}


div.content a{
  color: blue;
}

div#info,div#cv{
	display: inline-block;
}
div#info{
	position: sticky;
	vertical-align:top;
	top:3.1em;
	border:solid white;
}
div#info p{
	text-align: center;
}
div#info img{
	height: 350px;
}