h1{
  color:white;
  text-align: center;
  text-decoration: underline;
}


div.content a{
  color: blue;
}

div#info,div#cv{
	display: inline-block;
}
div#info{
	position: sticky;
	vertical-align:top;
	top:0;
	border:solid white;
}
div#info img{
	height: 350px;
}