body{
	background-color: green;
}
#canevas{
	background-color: black;
}
#menu{
	display: inline;
	position:absolute;
	top:2px;
	height: 250px;
	background-color: green;
}
button{
	width: 100px;
	height: 50px;
	font-size: 25px;
	margin-top: 10px;
	background-color: #79921D;
	color: #225264;
	border-style: none;
}
div,#point{
	display: inline;
}
#score{
	position: absolute;
	margin: 50px 50px;
	font-size: 50px;
}

